<config>
    <global>
        <blocks>
            <DEG_SubcategoryView>
                <class>DEG_SubcategoryView_Block</class>
            </DEG_SubcategoryView>
            <catalog>
                <rewrite>
                    <category_view>DEG_SubcategoryView_Block_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <DEG_SubcategoryView>
                <class>DEG_SubcategoryView_Helper</class>
            </DEG_SubcategoryView>
        </helpers>
        <models>
            <DEG_SubcategoryView>
                <class>DEG_SubcategoryView_Model</class>
            </DEG_SubcategoryView>
            <catalog>
                <rewrite>
                    <category_attribute_source_mode>DEG_SubcategoryView_Model_Category_Attribute_Source_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <DEG_SubcategoryView>
                    <file>subcategory_view.xml</file>
                </DEG_SubcategoryView>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <DEG_SubcategoryView>
                        <class>DEG_SubcategoryView_Model_Observer</class>
                        <method>addLayoutUpdate</method>
                    </DEG_SubcategoryView>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>
